@import '_setting.scss';

$list-bg-color: #ebecf0;

$column-header-height: 36px;
$column-footer-height: 36px;


$column-height: calc(#{$board-content-height} - #{$gap * 2});

.column{
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  margin-left: $gap;
  > * { // css cho tất cả các thẻ trong column
    background-color: $list-bg-color;
    color: $app-main-text-color;
    padding: 0 8px;
  }
  header.column-drag-handle{
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 2em;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    cursor: pointer;
  }
  footer{
    padding-left: 10px;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    color: #888;
    .footer-actions{
      margin-left: $gap;
      cursor: pointer;
      &:hover{
        color: $app-main-text-color
      }
    }
  }
  div.card-list{
    margin: 0;
    max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical { //xử lý theo chiều dọc
      width: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($list-bg-color, 15);
      border-right: 5px solid $list-bg-color;
    }

    //Css of smooth dnd reference in github it
    .card-ghost{
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: bold;
    }
    .card-ghost-drop{
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: bold;
    }
    .card-drop-preview{
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }
}