@import '_setting.scss';


.board-content{
  display: flex;
  height: $board-content-height;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal { //xử lý theo chiều ngang
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg;
    border-radius: 10px;
  }

  //Css of smooth dnd reference in github
  .column-drop-preview{
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }

  .add-new-column{
    width: 250px;
    height: 32px;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    color: white;
    margin-left: $gap;
    font-size:15px;
    background-color: hsla(0, 0%, 100%, .24);
    border-radius: $column-border-radius ;
    &:hover{
      background-color: hsla(0, 0%, 100%, .44);
    }
  }

}