@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;


//color
$app-main-text-color: #333;
$board-bg-color: #0079bf;
$common-element-bg: rgba(255, 255, 255 , .24);

$column-border-radius: 5px;