@import './_setting.scss';

//Tạo biến để sử dụng nhiều lần


body{
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-hoangan-master{
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon{
    font-size: 10px;
    margin-right: 5px;
  }
  
}